{% extends 'base.html.twig' %}

{% block title %}Hello user list!{% endblock %}

{% block body %}
<main class="container">
   {# <ul>
    {% for users in user %}
        <li>{{ user.email }}</li>
    {% endfor %}
   </ul> #}
</main>
{% endblock %}
